@model List<wordsUK>

<h2>UK to USA - G</h2>
<table class="table">
    <tr class="thead">
        <th class="wrd">Britain</th>
        <th class="emph">UK emphasis</th>
        <th class="pro">UK pronunciation</th>
        <th class="wrd">America</th>
        <th class="emph">US emphasis</th>
        <th class="pro">US pronunciation</th>
        <th class="def">Meaning</th>

    </tr>

    @foreach (var word in Model)
    {
        <tr>
            <td class="wrd">@word.wordUK</td>
            <td class="emph">@word.emphasisUK</td>
            <td class="pro">@word.pronunciationUK</td>
            <td class="wrd">@word.wordUSA</td>
            <td class="emph">@word.emphasisUSA</td>
            <td class="pro">@word.pronunciationUSA</td>
            <td class="def">@word.definition</td>
        </tr>
    }

</table>
