@model List<wordsUK>

<style>

    @*START top-bar SECTION*@

    .top-bar {
        min-height: 170px;
    }
    .nav-list {
        display: inline-flex;
        text-align: center;
    }
    .nav-link img {
        display: inline;
        max-height: 120px;
        text-align: center;
    }
    .swapper img {
        max-height: 140px;
        padding-left: 200px;
    }

    @*END top-bar SECTION*@

    @*START heading SECTION*@

    .heading {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    @*END heading SECTION*@

    @*START alphabet SECTION*@

    .alphabet-section ul {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .alphabet-nav-item {
        display: inline-flex;
        text-align: center;
        padding: 10px;
    }
    .alphabet-nav-item a {
        color: #000;
        font-size: xx-large;
    }

    @*END alphabet SECTION*@

    @*START table SECTION*@

    .wrd {
        font-size: xx-large;
    }
    .def {
        font-size: larger;
    }
    .thead .def {
        font-size: xx-large;
    }
    .table .pro {
        padding-right: 50px;
    }
    .table {
        padding: 1rem 0.5rem;
    }
    .table > :not(caption) > * > * {
        padding: 2rem 0.5rem;
    }
        @*END table SECTION*@

</style>

<section class="top-bar">
    <ul class="nav-list">
        <li class="nav-element nav-link words">
            <a class="nav-icon" asp-area="" asp-controller="wordsUK" asp-action="IndexA"><img src="/Images/CtPchatIcon.png" /></a>
            <a class="nav-option" asp-area="" asp-controller="WordsUK" asp-action="IndexA">Words</a>
        </li>
        <li class="nav-link weather">
            <a class="nav-icon" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCityUS"><img src="/Images/CtPweatherIcon.png" /></a>
            <a class="nav-option" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCityUS">Weather</a>
        </li>
        <li class="nav-element nav-link temperature">
            <a class="nav-icon" asp-area="" asp-controller="Temp" asp-action="IndexUS"><img src="/Images/CtPtemperatureIcon.png" /></a>
            <a class="nav-option" asp-area="" asp-controller="Temp" asp-action="IndexUS">Temp.</a>
        </li>
        <li class="nav-element nav-link tipping">
            <a class="nav-icon" asp-area="" asp-controller="Tipping" asp-action="IndexUS"><img src="/Images/CtPtipsIcon.png" /></a>
            <a class="nav-option" asp-area="" asp-controller="Tipping" asp-action="IndexUS">Tipping</a>
        </li>
        <li class="nav-element nav-link swapper">
            <a class="nav-swapper" asp-area="" asp-controller="WordsUSA" asp-action="IndexN"><img src="/Images/SwapperUKtoUS2.png" /></a>
        </li>
    </ul>
</section>

<div class="heading">
    <h1>UK TO USA</h1>
</div>

<div class="alphabet-section">
    <ul>
        @*<li class="title-nav-item allButton">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="Index">ALL</a>
            </li>*@
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexA">A</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexB">B</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexC">C</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexD">D</a>
        </li>
        @*<li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexE">E</a>
            </li>*@
        <li class="alphabet-nav-item noLink">e</li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexF">F</a>
        </li>
        @*<li class="alphabet-nav-item">
                <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexG">G</a>
            </li>*@
        <li class="alphabet-nav-item noLink">g</li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexH">H</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexI">I</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexJ">J</a>
        </li>
        @*<li class="alphabet-nav-item">
                <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexK">K</a>
            </li>*@
        <li class="alphabet-nav-item noLink">k</li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexL">L</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexM">M</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexN"><strong>N</strong></a>
        </li>
        @*<li class="alphabet-nav-item">
                <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexO">O</a>
            </li>*@
        <li class="alphabet-nav-item noLink">o</li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexP">P</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexQ">Q</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexR">R</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexS">S</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexT">T</a>
        </li>
        @*<li class="alphabet-nav-item">
                <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexU">U</a>
            </li>*@
        <li class="alphabet-nav-item noLink">u</li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexV">V</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexW">W</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexXYZ">XYZ</a>
        </li>
    </ul>
</div>

<table class="table">
    <tr class="thead">
        <th class="wrd brit">UK</th>
        <th class="emph brit">emphasis</th>
        <th class="pro brit">pronunciation</th>
        <th class="wrd mrcn">USA</th>
        <th class="emph mrcn">emphasis</th>
        <th class="pro mrcn">pronunciation</th>
        <th class="def">Meaning</th>

    </tr>

    @foreach (var word in Model)
    {
        <tr>
            <td class="wrd brit">@word.wordUK</td>
            <td class="emph brit">@word.emphasisUK</td>
            <td class="pro brit">@word.pronunciationUK</td>
            <td class="wrd mrcn">@word.wordUSA</td>
            <td class="emph mrcn">@word.emphasisUSA</td>
            <td class="pro mrcn">@word.pronunciationUSA</td>
            <td class="def">@word.definition</td>
        </tr>
    }

</table>