@model List<wordsUK>

<style>

    @*START top-bar SECTION*@
    .top-bar {
        margin-top: 30px;
        margin-bottom: 30px;
        min-height: 170px;
    }
    .nav-list {
        display: inline-flex;
        text-align: center;
    }
    .nav-link img {
        display: inline;
        max-height: 130px;
        text-align: center;
    }
    .swapper img {
        max-height: 130px;

    }
    .swapper {
        font-size: 60px;
        padding-left: 230px;
    }

    .hover-img {
        background-color: #fff;
        color: #000;
        display: inline-block;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 100%;
    }

        .hover-img * {
            box-sizing: border-box;
            transition: all 0.45s ease;
        }

        .hover-img:before,
        .hover-img:after {
            background-color: #fff;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            content: '';
            transition: all 0.3s ease;
            z-index: 1;
            opacity: 0;
            transform: scaleY(2);
        }

        .hover-img img {
            vertical-align: top;
            max-width: 100%;
            backface-visibility: hidden;
        }

        .hover-img figcaption {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            align-items: center;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1.1em;
            opacity: 0;
            z-index: 2;
            transition-delay: 0.1s;
            font-size: 24px;
            font-family: sans-serif;
            font-weight: 400;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #000;
        }

        .hover-img:hover:before,
        .hover-img:hover:after {
            transform: scale(1);
            opacity: 1;
        }

        .hover-img:hover > img {
            opacity: 0.7;
        }

        .hover-img:hover figcaption {
            opacity: 1;
        }
        .nav-swapper {
        position: relative;
        display: inline-block;

    }

        .nav-swapper .img-swapper {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
        }

        .nav-swapper:hover .img-swapper {
            display: inline;
        }
        @*END top-bar SECTION*@
        @*START heading SECTION*@

        h1 {
        font-size: 40px;
        text-align: center;
    }

    @*END heading SECTION*@

    @*START main SECTION*@
    .temp-main {
        display: inline-flex;
        text-align: center;
    }
    .temp-main-element {
        border: solid 1px #BEBEBE;
        padding: 20px;
        margin-bottom: 30px;
    }
    .temp-main-left {
        text-align: left;
        min-width: 500px;
    }
    .temp-main-left h1 {
        text-align: center;
    }
    .temp-main-right {
        min-width: 35%;
        padding: 20px;
        margin-left: 30px;
    }
    .temp-main-element h3 {
        text-align: left;
    }
    .temp-main-heading {
        margin-bottom: 30px;
    }
    .notes {
        font-style: italic;
    }
    p {
        font-size: larger;
    }
    .temp-main-heading, .calculator {
        border: solid 2px #BEBEBE;
    }
    .temp-main-element img {
        max-width: 400px;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 44px;
    }

    .regions {
        display: inline-grid;
        grid-template-columns: auto auto;
        text-align: left;
    }
    .now-facts {
        margin-left: 100px;
    }

    @*END main SECTION*@

    @*START alphabet SECTION*@ .alphabet-section ul {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .alphabet-nav-item {
        display: inline-flex;
        text-align: center;
        padding: 10px;
    }

        .alphabet-nav-item a {
            color: #000;
            font-size: xx-large;
        }

    @*END alphabet SECTION*@ @*START table SECTION*@ .thead {
    }

    .wrd {
        font-size: xx-large;
    }

    .def {
        font-size: larger;
    }

    .thead .def {
        font-size: xx-large;
    }

    .table .pro {
        padding-right: 50px;
    }

    .table {
        padding: 1rem 0.5rem;
    }

        .table > :not(caption) > * > * {
            padding: 2rem 0.5rem;
        }

    @*END table SECTION*@

</style>

<section class="top-bar">
    <ul class="nav-list">
        <li class="nav-element nav-link words hover-img">
            <a class="nav-icon" asp-area="" asp-controller="wordsUK" asp-action="IndexA">
                <img src="/Images/CtPchatIcon.png" />
                <figcaption>
                    <h4>Words</h4>
                </figcaption>
            </a>
        </li>
        <li class="nav-element nav-link weather hover-img">
            <a class="nav-icon" asp-area="" asp-controller="WeatherForecast" asp-action="SearchByCityUS">
                <img src="/Images/CtPweatherIcon.png" />
                <figcaption>
                    <h4>Weather</h4>
                </figcaption>
            </a>
        </li>
        <li class="nav-element nav-link temperature hover-img">
            <a class="nav-icon" asp-area="" asp-controller="Temp" asp-action="IndexUS">
                <img src="/Images/CtPtemperatureIcon.png" />
                <figcaption>
                    <h4>Temp.</h4>
                </figcaption>

            </a>
        </li>
        <li class="nav-element nav-link tipping hover-img">
            <a class="nav-icon" asp-area="" asp-controller="Tipping" asp-action="IndexUS">
                <img src="/Images/CtPtipsIcon.png" />
                <figcaption>
                    <h4>Tipping</h4>
                </figcaption>
            </a>
        </li>
        <li class="nav-element nav-link swapper">
            <a class="nav-swapper" asp-area="" asp-controller="WordsUSA" asp-action="IndexW">
                <img src="/Images/UKtoUSA-labelled.png" />
                <img src="/Images/USAtoUK-swap-hover.png" class="img-swapper" />
            </a>
        </li>
    </ul>
</section>

<div class="alphabet-section">
    <ul>
        @*<li class="title-nav-item allButton">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="Index">ALL</a>
            </li>*@
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexA">A</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexB">B</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexC">C</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexD">D</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexE">E</a>
            </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexF">F</a>
        </li>
        <li class="alphabet-nav-item">
                <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexG">G</a>
            </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexH">H</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexI">I</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexJ">J</a>
        </li>
        <li class="alphabet-nav-item">
                <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexK">K</a>
            </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexL">L</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexM">M</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexN">N</a>
        </li>
        <li class="alphabet-nav-item">
                <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexO">O</a>
            </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexP">P</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexQ">Q</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexR">R</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexS">S</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexT">T</a>
        </li>
        <li class="alphabet-nav-item">
                <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexU">U</a>
            </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexV">V</a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexW"><strong>W</strong></a>
        </li>
        <li class="alphabet-nav-item">
            <a class="alphabet-link" asp-area="" asp-controller="wordsUK" asp-action="IndexXYZ">XYZ</a>
        </li>
    </ul>
</div>

<table class="table">
    <tr class="thead">
        <th class="wrd brit">UK</th>
        <th class="emph brit">emphasis</th>
        <th class="pro brit">pronunciation</th>
        <th class="wrd mrcn">USA</th>
        <th class="emph mrcn">emphasis</th>
        <th class="pro mrcn">pronunciation</th>
        <th class="def">Meaning</th>

    </tr>

    @foreach (var word in Model)
    {
        <tr>
            <td class="wrd brit">@word.wordUK</td>
            <td class="emph brit">@word.emphasisUK</td>
            <td class="pro brit">@word.pronunciationUK</td>
            <td class="wrd mrcn">@word.wordUSA</td>
            <td class="emph mrcn">@word.emphasisUSA</td>
            <td class="pro mrcn">@word.pronunciationUSA</td>
            <td class="def">@word.definition</td>
        </tr>
    }

</table>