@model List<wordsUK>

    <style>

        .pageTitle {
            align-content: center;
            text-align: center
        }

        strong {
            font-size: larger;
            text-decoration: underline;
        }

        h1 {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .alphabet {
            /*    TODO text-align: right;    */
        }

        h2 {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .wrd {
            font-size: 30px;
            font-weight: bold;
            margin-left: 15px;
            margin-right: 0px;
            border-left: solid 1px black;
        }

        .emph {
            font-style: oblique;
            font-size: 14px;
        }

        .pro {
            font-style: italic;
            font-size: 14px;
        }

        .def {
            border-left: solid 1px black;
            border-right: solid 1px black;
        }

        .nav-title {
            font-weight: bold;
            margin-left: 30px;
            margin-right: 5px;
        }

        .allButton {
            margin-left: 5px;
            margin-right: 5px;
        }

        .title-nav-item {
            margin-left: 0px;
        }

        .table {
            border-top: solid 1px black;
            border-bottom: solid 1px black;
            background-color: rgb(249,259,249);
        }

        .thead {
            background-color: #DFEEED;
            padding-bottom: 5px;
            padding-top: 5px;
            border-bottom: solid 2px black;
        }

            .thead .def {
                font-size: 30px;
                font-weight: bold;
                text-decoration: underline;
                padding-left: 5px;
            }

            .thead .wrd {
                text-decoration: underline;
                padding-left: 5px;
            }

        .brit {
            max-width: 25%;
        }

        .mrcn {
            max-width: 25%;
        }
    </style>

    <h1>UK to USA</h1>
    <div class="pageTitle">
        <div>
            <li class="title-nav-item allButton">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="Index">All Words</a>
            </li>
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexA">A</a>
            </li>
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexB"><strong>B</strong></a>
            </li>
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexC">C</a>
            </li>
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexD">D</a>
            </li>
            @*<li class="title-nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexE">E</a>
                </li>*@
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexF">F</a>
            </li>
            @*<li class="title-nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexG">G</a>
                </li>*@
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexH">H</a>
            </li>
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexI">I</a>
            </li>
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexJ">J</a>
            </li>
            @*<li class="title-nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexK">K</a>
                </li>*@
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexL">L</a>
            </li>
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexM">M</a>
            </li>
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexN">N</a>
            </li>
            @*<li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexO">O</a>
                </li>*@
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexP">P</a>
            </li>
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexQ">Q</a>
            </li>
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexR">R</a>
            </li>
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexS">S</a>
            </li>
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexT">T</a>
            </li>
            @*<li class="title-nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexU">U</a>
                </li>*@
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexV">V</a>
            </li>
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexW">W</a>
            </li>
            <li class="title-nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUK" asp-action="IndexXYZ">XYZ</a>
            </li>
        </div>
    </div>

    <table class="table">
        <tr class="thead">
            <th class="wrd brit">Britain</th>
            <th class="emph brit">UK emphasis</th>
            <th class="pro brit">UK pronunciation</th>
            <th class="wrd mrcn">America</th>
            <th class="emph mrcn">US emphasis</th>
            <th class="pro mrcn">US pronunciation</th>
            <th class="def">Meaning</th>

        </tr>

        @foreach (var word in Model)
        {
            <tr>
                <td class="wrd brit">@word.wordUK</td>
                <td class="emph brit">@word.emphasisUK</td>
                <td class="pro brit">@word.pronunciationUK</td>
                <td class="wrd mrcn">@word.wordUSA</td>
                <td class="emph mrcn">@word.emphasisUSA</td>
                <td class="pro mrcn">@word.pronunciationUSA</td>
                <td class="def">@word.definition</td>
            </tr>
        }

    </table>