@model List<wordsUK>

<h1>USA to UK</h1>
<div class="pageTitle">
    <h2><strong>U</strong> </h2>
    <div>
        <li class="nav-item allButton">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="Index">ALL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexA">A</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexB">B</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexC">C</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexD">D</a>
        </li>
        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexE">E</a>
            </li>*@
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexF">F</a>
        </li>
        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexG">G</a>
            </li>*@
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexH">H</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexI">I</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexJ">J</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexK">K</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexL">L</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexM">M</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexN">N</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexO">O</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexP">P</a>
        </li>
        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexQ">Q</a>
            </li>*@
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexR">R</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexS">S</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexT">T</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexU">U</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexV">V</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexW">W</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="wordsUSA" asp-action="IndexXYZ">XYZ</a>
        </li>
    </div>

</div>
<table class="table">
    <tr class="thead">
        <th class="wrd">America</th>
        <th class="emph">US emphasis</th>
        <th class="pro">US pronunciation</th>
        <th class="wrd brit">Britain</th>
        <th class="emph brit">UK emphasis</th>
        <th class="pro brit">UK pronunciation</th>
        <th class="def">Meaning</th>

    </tr>

    @foreach (var word in Model)
    {
        <tr>
            <td class="wrd">@word.wordUSA</td>
            <td class="emph">@word.emphasisUSA</td>
            <td class="pro">@word.pronunciationUSA</td>
            <td class="wrd brit">@word.wordUK</td>
            <td class="emph brit">@word.emphasisUK</td>
            <td class="pro brit">@word.pronunciationUK</td>
            <td class="def">@word.definition</td>
        </tr>
    }
</table>
