@model List<wordsUK>

<h2>USA to UK - <strong>A</strong></h2>
<table class="table">
    <tr class="thead">
        <th class="wrd">America</th>
        <th class="emph">US emphasis</th>
        <th class="pro">US pronunciation</th>
        <th class="wrd brit">Britain</th>
        <th class="emph brit">UK emphasis</th>
        <th class="pro brit">UK pronunciation</th>
        <th class="def">Meaning</th>

    </tr>

    @foreach (var word in Model)
    {
        <tr>
            <td class="wrd">@word.wordUSA</td>
            <td class="emph">@word.emphasisUSA</td>
            <td class="pro">@word.pronunciationUSA</td>
            <td class="wrd brit">@word.wordUK</td>
            <td class="emph brit">@word.emphasisUK</td>
            <td class="pro brit">@word.pronunciationUK</td>
            <td class="def">@word.definition</td>
        </tr>
    }
</table>